<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>首页</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css">
</head>
<body>
    <h2>index</h2>

    <div id="menu" style="background-color:#FFD700;height:200px;width:100px;float:left;">
        <b>菜单</b><br>
        HTML<br>
        CSS<br>
        JavaScript
    </div>

    <h4>
        <p style="text-align:right ;">
            <img width="30px" height="30px" src="{{ url_for('static', filename='images/logo.jpg') }}" >
        </p>
        <p style="background-color: rgb(255, 0, 43); text-align: center;">{{ name }} 图片！</p>
        
    </h4>


    {% extends 'base.html' %}
</body>
</html>